body {
  background-color: rgb(119, 223, 223);
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
}

.container {
  background-color: rgba(14, 111, 196, 0.489);
  text-align: center;
  gap: 30px;
 border-radius: 15px;
  border: none;
  padding: 17px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form input {
    border-radius: 15px;
    border: none;
    padding: 7px;
    padding-left: 11px;
    outline: none;
    
}
form textarea {
    border-radius: 15px;
    border: none;
    padding: 7px;
    padding-left: 11px;
    outline: none;
}

h1 {
    font-family: monospace;
    color: rgb(215, 247, 236);
    text-shadow: 3px 3px 3px black;
}

#btn {
    color: rgba(21, 91, 116, 0.76);
    font-weight: bold;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(179, 173, 167);
}

#btn:active {
    color: rgb(247, 251, 250);
    background-color: rgb(194, 218, 108);
}